.jcrop-box-notValided {
  background-color: rgba(180, 0, 0, 0.58);
}

.jcrop-box-valided {
  background-color: rgba(0, 180, 0, 0.58);
}

.camerapage {
    color:#333;
    text-align: center;
    font-family: sans-serif;
    background-color: transparent;
    background-image: url('../data/mascara_camera1.png');
    background-size: cover;
    height: 100%;
}


body {
    -webkit-overflow-scrolling: touch;
}

.bodycamera {
    height: 100%;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}